.slider-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: saturate(2) contrast(110%);

}

.slider-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide img {
    box-sizing: border-box;
    display: block;
    height: 100vh;
    width: 100%;
}

.slick-dots {
    bottom:50px;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #8eba1c;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 0;
    content: '•';
    opacity: 1;
    color: #F8FAE5;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 55px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 60%;
    z-index: 1;
}

.slick-next {
    right: 50px;
}

.slick-prev {
    left: 20px;
}